**/.venv/
**/__pycache__/
**/*.py[cod]
**/.env
**/.env.*
!**/.env.example
**/.git/
**/.DS_Store
**/.vscode/
**/.idea/
**/node_modules/
**/dist/
**/db.sqlite3
**/staticfiles/
**/*.log
**/*.tmp
**/*.swp
**/*~
